# decrypted secrets and runtime files
runtime/
*.dec
*.plaintext

# local env files
.env
.env.*
!.env.example
env/*.env
!env/*.example

# persistent Pi-hole data
config/pihole/etc-pihole/*
!config/pihole/etc-pihole/.gitkeep

config/pihole/etc-dnsmasq.d/*
!config/pihole/etc-dnsmasq.d/.gitkeep

# local backup copies
config/pihole/etc-pihole.bak.*

# persistent Caddy data
config/caddy/data/*
!config/caddy/data/.gitkeep

config/caddy/config/*
!config/caddy/config/.gitkeep

# misc
*.log
.DS_Store

# persistent SearXNG data
config/searxng/data/*
!config/searxng/data/.gitkeep
config/searxng/*.toml
config/searxng/*.env
config/searxng/*.bak

# postgres data
config/postgres/data/*
!config/postgres/data/.gitkeep

# monkeytype data
config/monkeytype/mongodb/*
!config/monkeytype/mongodb/.gitkeep

config/monkeytype/redis/*
!config/monkeytype/redis/.gitkeep

# monitor state
runtime/server01/monitor/*
!runtime/server01/monitor/.gitkeep

# n8n runtime data
config/n8n/data/*
!config/n8n/data/.gitkeep
