# decrypted secrets and runtime files
runtime/
*.dec
*.plaintext

# local env files
.env
.env.*
!.env.example
env/*.env
!env/*.example

# persistent Pi-hole data
config/pihole/etc-pihole/*
!config/pihole/etc-pihole/.gitkeep

config/pihole/etc-dnsmasq.d/*
!config/pihole/etc-dnsmasq.d/.gitkeep

# local backup copies
config/pihole/etc-pihole.bak.*

# persistent Caddy data
config/caddy/data/*
!config/caddy/data/.gitkeep

config/caddy/config/*
!config/caddy/config/.gitkeep

# misc
*.log
.DS_Store

# persistent SearXNG data
config/searxng/data/*
!config/searxng/data/.gitkeep
