[Unit]
Description=Run docker-services disk usage check every 6 hours

[Timer]
OnBootSec=10min
OnUnitActiveSec=6h
Persistent=true
Unit=docker-services-disk-check.service

[Install]
WantedBy=timers.target
