{
	email admin@wormlogic.com
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

search.wormlogic.com {
	reverse_proxy searxng:8080
}

type.wormlogic.com {
	reverse_proxy monkeytype-frontend:80
}

type-api.wormlogic.com {
	reverse_proxy monkeytype-backend:5005
}

automate.wormlogic.com {
	reverse_proxy n8n:5678
}

ha.wormlogic.com {
    reverse_proxy 10.42.42.4:8123
}

pantry.wormlogic.com {
    reverse_proxy grocy:80
}

esphome.wormlogic.com {
    reverse_proxy esphome:6052
}
