{
	email matthewjgarry@gmail.com
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

search.wormlogic.com {
	reverse_proxy searxng:8080
}

type.wormlogic.com {
	reverse_proxy monkeytype-frontend:80
}

type-api.wormlogic.com {
	reverse_proxy monkeytype-backend:5005
}

automate.wormlogic.com {
	reverse_proxy n8n:5678
}
