TZ=America/New_York

PIHOLE_PARENT_INTERFACE=eno1
PIHOLE_IPV4_ADDRESS=10.42.42.11
PIHOLE_SUBNET=10.42.42.0/24
PIHOLE_GATEWAY=10.42.42.1

SEARXNG_HOSTNAME=search.home.arpa
SEARXNG_BASE_URL=http://search.home.arpa
SEARXNG_SECRET=replace-with-a-long-random-secret

MONKEYTYPE_HOSTNAME=type.wormlogic.com
MONKEYTYPE_API_HOSTNAME=type-api.wormlogic.com
MONKEYTYPE_FRONTEND_URL=https://type.wormlogic.com
MONKEYTYPE_BACKEND_URL=https://type-api.wormlogic.com
MONKEYTYPE_RECAPTCHA_SITE_KEY=
MONKEYTYPE_RECAPTCHA_SECRET=
MONKEYTYPE_FIREBASE_APIKEY=
MONKEYTYPE_FIREBASE_AUTHDOMAIN=
MONKEYTYPE_FIREBASE_PROJECTID=
MONKEYTYPE_FIREBASE_STORAGEBUCKET=
MONKEYTYPE_FIREBASE_MESSAGINGSENDERID=
MONKEYTYPE_FIREBASE_APPID=
MONKEYTYPE_EMAIL_HOST=
MONKEYTYPE_EMAIL_PORT=
MONKEYTYPE_EMAIL_USER=
MONKEYTYPE_EMAIL_PASS=
