TZ=America/New_York

PIHOLE_PARENT_INTERFACE=eno1
PIHOLE_IPV4_ADDRESS=10.42.42.11
PIHOLE_SUBNET=10.42.42.0/24
PIHOLE_GATEWAY=10.42.42.1

SEARXNG_HOSTNAME=search.home.arpa
SEARXNG_BASE_URL=http://search.home.arpa
SEARXNG_SECRET=replace-with-a-long-random-secret
